#macro( Button $button )
<button class="btn btn-block btn-lg"#printId($button) type="button" onclick="$button.properties.onclick">
	#if( "$!button.properties.glyphicon" == "" )#else<span class="glyphicon glyphicon-$button.properties.glyphicon"></span>#end ##
$button.properties.text
</button>
#end