#macro( Column $column )
<div class="col-${column.properties.positions}#printClassNoAttr($button)"#printId($column)>
#foreach($child in $NodeTemplateUtils.getChildren($column.nodeUri))
#@indent()
	#callMacro($child)
#end
#end
</div>
#end