#macro( jslib )
var bindingManager = {
	
	data : {},
	
	// Listeners map
	listeners : {},

	// Register a listener
	addListener : function(property, elt, handler, options) {
		var list = this.listeners[property];
		if (typeof list === "undefined") {
			// init
			list = [];
			this.listeners[property] = list;
		}
		var listener = function() {
			var propertyValue = bindingManager.data[property];
			handler(elt, propertyValue, options);
		}
		list.push(listener);
		listener();
	},

	// Set the value and notify listeners
	set : function(property, value) {
		if (this.data[property] !== value) {
			// only if different value
			this.data[property] = value;

			var list = this.listeners[property];
			if (typeof list !== "undefined" && list !== null) {
				// notify listeners
				for (var i = 0; i < list.length; i++) {
					list[i]();
				}
			}
		}
	}

};

var toggleClass = function(elt, propertyValue, options) {
	for (var key in options) {
		var cls = options[key];
		if (key != propertyValue) {
			elt.parent().removeClass(cls);
		}
	}
	if (options[propertyValue]) {
		elt.parent().addClass(options[propertyValue]);
	}
	
}

var setText = function(elt, propertyValue, options) {
	if (typeof options !== "undefined" && options[propertyValue]) {
		propertyValue = options[propertyValue];
	}
	elt.text(propertyValue);
}

var invoke = function(path) {
	$.get(url + path, function(data) {
		for (var key in data) {
			bindingManager.set(key, data[key]);
		};
	});
};

setInterval(function() {
	invoke("getState");
}, 1000);


$(function() {
	$("[bindToProperty]").each(function() {
		var elt = $(this);
		var property = elt.attr("bindToProperty");
		var textToggler = elt.attr("textToggler");
		if (textToggler) {
			textToggler = JSON.parse(textToggler);
		}
		bindingManager.addListener(property, elt, setText, textToggler);

		var classToggler = elt.attr("classToggler");
		if (classToggler) {
			classToggler = JSON.parse(classToggler);
			bindingManager.addListener(property, elt, toggleClass, classToggler);
		}

	});
});
#end