#macro( board $node )
class ApplicationGen {
protected:
#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
	#callMacroWithSuffix( $child "_decl" )
#end

#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
#@indent()
	#callMacroWithSuffix( $child "_handlers" )
#end
#end

public:
	virtual ~ApplicationGen() { }

	virtual void setup() {
#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
#@indent()
		#callMacroWithSuffix( $child "_init" )

#end
#end
#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
#@indent()
		#callMacroWithSuffix( $child "_addListeners" )
#end
#end
	}
	
	virtual void loop() {
	}
};
#end