#macro( metadata $node )#end
#set( $root = $node )
#foreach( $import in $imports )
\#include <$import>
#end

#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
#callMacro($child)
#end

\#define SHOULD_INCLUDE_CUSTOM_CODE
\#include "CustomCode.h"

ApplicationGen* app = new ApplicationCustom();

void setup() {
	app->setup();
}

void loop() {
	app->loop();
}
