################################
## Instance
################################

#macro( instance_decl )
${NodeTemplateUtils.stripDynamicPrefix(${node.type})} ${node.properties.name};
#end

#macro( instance_init )
#instance_create()
#instance_addComponent()
#end

#macro( instance_create $params )
#if( !$params )
#set( $params = "" )
#end
${node.properties.name} = new ${NodeTemplateUtils.stripDynamicPrefix(${node.type})}(${params});
#end

#macro( instance_addComponent )
addComponent(${node.properties.name});
#end

#macro( instance_handlers $node )
#set( $instance = $node )
#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
#callMacroWithSuffix( $child "_handler" )
#end
#end

#macro( instance_addListeners $node )
#set( $instance = $node )
#foreach( $child in $NodeTemplateUtils.getChildren($node.nodeUri) )
#callMacroWithSuffix( $child "_addListener" )
#end
#end

################################
## Logger
################################

#macro( Logger_decl $node )
#instance_decl($node)
#end

#macro( Logger_init $node )
#instance_create(${node.properties.chipSelectPin})
#end

#macro( Logger_handlers $node )
#instance_handlers($node)
#end

#macro( Logger_addListeners $node )
#instance_addListeners($node)
#end

################################
## Timer
################################

#macro( Timer_decl $node )
#instance_decl($node)
#end

#macro( Timer_init $node )
#if( ${node.properties.autostart} )## if false, this seems to return ""
#set( $autoStart = "true" )
#else
#set( $autoStart = "false" )
#end
#instance_create(${autoStart})
${node.properties.name}->delay = ${node.properties.delay};
${node.properties.name}->repeatCount = ${node.properties.repeatCount};
#instance_addComponent()
#end

#macro( Timer_handlers $node )
#instance_handlers($node)
#end

#macro( Timer_addListeners $node )
#instance_addListeners($node)
#end
