#macro( ValueChangedEvent_value_transferValue )
{
	int value = castedEvent->currentValue;
	${targetInstance}.${targetMethodFull};
}
#end

#macro( ALL__plainInvocation )
{
	${targetInstance}.${targetMethodFull};
}
#end

#macro( ValueChangedEvent__invokeIfHigh )
if (castedEvent->currentValue == HIGH) {
	${targetInstance}.${targetMethodFull};
}
#end
