################################
## LoggerSD
################################

#macro( LoggerSD_declaration $node )
LoggerSD<${node.properties.valueType}> ${node.properties.name};
#end

#macro( LoggerSD_init $node )
${node.properties.name}.slaveSelectPin = ${node.properties.slaveSelectPin};
${node.properties.name}.timeInterval = ${node.properties.timeInterval};
${node.properties.name}.setup();
#end
