################################
## Output
################################

#macro( Output_init $node )
${node.properties.name}.pin = ${node.properties.pin};
${node.properties.name}.setup();
#end
