#belongsToCategory( $node, "category.instance" )
#if( $belongsToCategoryResult )
#set( $root = $NodeTemplateUtils.getParent($node.nodeUri) )
#instance()
#elseif( $node.properties.name.startsWith("invocationSourceSignature") )
#invocation()
#end
