#macro( belongsToCategory $typeDescriptor $category)
#set( $belongsToCategoryResult = false )
#foreach( $child in $NodeTemplateUtils.getChildren($typeDescriptor.nodeUri) )
#if( $child.type == "containingCategory" && $child.properties.name == $category )
#set( $belongsToCategoryResult = true )
#break;
#end
#end
#end